.AppBar {
  background-color: #000 !important;
}

.AppBar h1 {
  color: #fff !important;
}

.AppBar div {
  background-color: #000 !important;
  margin-right: 20px;
  margin-top: 2px;
  color: #fff;
}

.Tab div {
  color: #fff;
}

.modalImg {
  width: 100%;
}

.progressLabels {
  padding-left: 30px;
}

.progressLabel {
  line-height: 35px;;
}

.progress {
  margin-bottom: 26px;
}

.progressBars {
  margin-top: 13px;
}

.titles {
  color: black;
}

.titleFrame {
  padding-top: 300px;
}

.splashPage {
  background-image: url('https://hd.unsplash.com/photo-1470229722913-7c0e2dbbafd3');
  height: 800px;
  width: 100%;
  background-size: cover;
  margin-top: -200px;
}
